@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Nunito+Sans&family=Open+Sans&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

:root{
    /* Colors */
    --body-color: #F2FAF7;
    --nav-color: #93b7be;
    --text-color: black;
    --text-color-light: #a89d95;
    --border-color: #785964;
    
    
    /* Fonts */
    --font-normal: 'Nunito sans','sans-serif';
    --font-nav: 'Fira Sans Condensed', sans-serif;
}

.hidden{
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(-100%);
}

.show-element{
    opacity: 1;
    transform: translateX(0);
}

.show{
    opacity: 0;

    transform: translateX(-100%);
}

.show-icons{
    opacity: 1;
    transition: all 1.9s ease;
    transform: translateX(0);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--text-color-light);
}

body{
    background-color: var(--body-color);
    transition: all 0.4s ease-in-out;
}

.changeColor{
    background-color: var(--text-color);
    color: var(--body-color)
}

.changeColorText{
    color: var(--body-color)
}

.changeColorTextLink{
    color: var(--nav-color)
}

/* Main Nav */
.main-nav{
    font-family: var(--font-nav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60px;
    box-shadow: 2px 33px 21px -23px rgba(147,183,190,0.74);
-webkit-box-shadow: 2px 33px 21px -23px rgba(147,183,190,0.74);
-moz-box-shadow: 2px 33px 21px -23px rgba(147,183,190,0.74);
    transition: all 0.4s ease;
    position: fixed;
    left: 10%;
    top: 0;
    z-index: 1;
    /* position: relative; */
    border-bottom: 2px solid var(--nav-color);
    background-color: var(--body-color);
}

.title .span-name{
    color: var(--body-color);
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.534);
}

.main-nav .nav-ul{
    display: flex;
    list-style: none;
    align-items: center; 
}

.main-nav .nav-ul a{
    color: var(--text-color);
}

.inside-container{
    position: relative;
}

/* Hamburger Menu*/
.main-nav .fa-bars{
    display: none;
    cursor: pointer;
}

.hamburger-menu .nav-ul{
    display: none;
}
/* End of Hamburger menu */

.nav-ul .nav-li{
    margin: 0 10px;
    width: 80px;
    z-index: 1;
    position: relative;
    color: var(--body-color)
}

.nav-ul .nav-li:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 0;
    bottom: -8px;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.4s ease;
}

.nav-ul .nav-li:hover::after{
    background-color: var(--body-color);
    width: 80%;
}

.nav-li a{
    transition: all 0.4s ease;
}

.nav-li a:hover{
    color: var(--body-color);
    font-size: 1.1rem;
}

.main-btn{
    background-color: transparent;
    font-family: var(--font-nav);
    color: var(--text-color-light);
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.main-btn:hover{
    --border-color: #78596431;
    background-color: var(--border-color);
    border: 1px solid var(--body-color);
    color: var(--body-color);
}

.main-btn a{
    color: unset;
}

/* Main Body */
.main-body-ul i{
    margin: 5px 0;
    font-size: 2rem;
    cursor: pointer;
}

.main-body-h1{
    color: var(--text-color);
}

/* Center Container 1*/
.center-container1{
    min-height: 100vh;
    background-color: var(--body-color);
    font-family: var(--font-nav);
    position: relative;
}

.center-container1 .container1-holder{
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 20px;
}

.center-container1 h1,.center-container1 h2{
    font-size: 4rem;

}

.center-container1 .main-intro{
    font-size: 1.2rem;
}

.center-container1 h2{
    color: var(--text-color-light);
    font-size: 2.5rem;
    margin-bottom: 10px;
    
}

.center-container1 .links-container1 ul{
    position: absolute;
    top: 42%;
    right: 15%;
    display: flex;
    gap: 50px;
    font-size: 4rem;
}

/* Center Container 2 */
.center-container2{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 20px 55px;
    height: 80vh;
    gap: 10px;
}

.center-container2 .about1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: var(--nav-color); */
    font-family: var(--font-nav);
    text-align: justify;
    gap: 20px;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.about1 .main-intro{
    line-height: 25px;
}

.center-container2 h2{
    font-size: 2rem;
}

.center-container2 .about2{
    height: 80vh;
    position: relative;
}

.about-holder{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-holder .about{
    height: 100%;
}

.about-holder .about span{
    font-family: var(--font-nav);
    font-size: 2rem;
}

.about-holder .about li{
    list-style: none;
    margin: 10px 0;
    font-family: var(--font-normal);
    font-weight: bold;
    font-size: 0.9rem;
}

.center-container3{
    height: 100vh;
    margin: 40px 55px 0 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-nav);
}

.center-container3 h2{
    margin: 10px 0;
}

.center-container3 .project-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 1fr;
    margin: 10px 0;
}

.project-wrapper .project-item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    
}

.project-item .project-details{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.project-details i{
    cursor: pointer;
}

.project-details a{
    color: unset;
}

.center-container3 .fa-arrow-down{
    cursor: pointer;
}

/* Left Panel */
.left-panel{
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 0;
}

.left-panel .main-body-ul{
    display: flex;
    flex-direction: column;
}

/* Right Panel */
.right-panel{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: -1;
}

.right-panel a{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: var(--font-nav);
}

/* Contact Me */
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 20px;
    font-family: var(--font-nav);
}

.contact-me .btn-holder{
    margin: 20px 0;
}

.contact-me .btn-holder .contact-btn{
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid var(--body-color);
    color: var(--body-color);
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact-me .btn-holder .contact-btn:hover{
    background-color: var(--nav-color);
}

/* Footer */
.main-footer{
    text-align: center;
    font-family: var(--font-nav);
    padding: 20px 10px;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* 769px — 1024px: Small screens, laptops. */
@media screen and (max-width: 1024px){

    .center-container1 .container1-holder{
        left: 7%;
    }

    .center-container2 .about2{
        height: 60vh;
        padding: 10px;
    }

    .center-container2 .about1{
        height: 40vh;
    }

    .center-container2{
        display: flex;
        flex-direction: column;
    }
 
    .about2 span{
        margin: 10px 0;
        top: 10%;
    }

    .center-container3{
        height: auto;
    }
    
    .center-container3 .project-wrapper{
        grid-template-columns: repeat(2, 250px);
    }

    .main-nav{
        justify-content: flex-start;
        padding-left: 20px;
    }

    .main-nav .nav-ul{
        display: none;
    }

    .main-nav .fa-bars{
        display: block;
        position: absolute;
        right: 20px;
    }

    .contact-me{
        margin-top: 50px;
        min-height: 70vh;
    }

    .inside-container .hamburger-menu.active{
        display: block;
    }

    .inside-container .hamburger-menu{
        display: none;
        width: 80%;
        height: auto;
        font-family: var(--font-nav);
        background-color: var(--text-color-light);
        position: fixed;
        top: 60px;
        left: 10%;
        z-index: 1;
        transform-origin: top;
        transition: all 0.4s cubic-bezier(1, 0.41, 0, 1.46);
        border-radius: 0 0 20px 20px;
    }
    
    .hamburger-menu .nav-ul{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.4s cubic-bezier(1, 0.41, 0, 1.46);
    }
    
    .hamburger-menu .nav-ul .nav-li{
        list-style: none;
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        transition: all 0.4s ease;
    }
    
    .hamburger-menu .nav-ul .nav-li:hover{
        background-color: var(--nav-color);
        color: var(--body-color);
    }

    .center-container1 .links-container1 ul{
        top: unset;
        bottom: 20%;
        right:unset;
        left: 10%;
        font-size: 3rem;
    }
}

/* 481px — 768px: iPads, Tablets. */
@media screen and (max-width:768px){
    .center-container3 .project-wrapper{
        grid-template-columns: repeat(2, 250px);
    }

    .center-container1 .container1-holder{
        padding: 20px;
    }

    .center-container1 h1{
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .center-container1 h2{
        font-size: 2rem;
         margin-bottom: 10px;
    }

    .contact-me{
        height: auto;
    }

    .center-container3 p{
        text-align: center;
    }

    .main-body-desc{
        font-size: 1.6rem;
    }

}

@media screen and (max-width:593px){
    .center-container3 .project-wrapper{
        grid-template-columns: repeat(2, 200px);
    }

    .center-container2{
        height: auto;
        margin: 20px 10px;
    }

    .about2 .about-holder{
        position: unset;
        transform: unset;
        height: auto;
        flex-direction: column;
        gap: 20px;
    }

    .center-container2 .about2{
        height: auto;
        padding: 10px;
    }

    .center-container2 .about1{
        height: auto;
    }
    
}

/* 320px — 480px: Mobile devices. */
@media screen and (max-width: 480px){
    .center-container3 .project-wrapper{
        grid-template-columns: repeat(1, 300px);
    }

    .contact-me .main-span{
        flex-direction: column;
        margin: 40px;
    }

    .left-panel ul a i{
        font-size: 1rem;
    }

    .right-panel{
        font-size: 0.8rem;
    }

    .center-container2 .about2 ul li{
        font-size: 1rem;
    }

    .center-container2 .about2 ul span{
        font-size: 1.5rem;
    }

    
    .center-container1 .container1-holder{
        top: 21%;
        left: 0;
    }

    .left-panel{
        left: 10px;
    }

    .right-panel{
        right: 10px;
    }

}